.container {
  display: flex;
  width: 100%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid lightgrey;
}

.leftContainer {
  width: 50px;
  min-width: 250px;
}

@media (min-width: 640px) {
  .leftContainer {
    min-width: 250px;
  }
}

@media (min-width: 1280px) {
  .leftContainer {
    min-width: 250px;
  }
}
